#main-container {
  display: grid;
  grid-template-areas: "nav" "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  @apply h-screen bg-gray-50;
  overflow: hidden;
}

#nav {
  grid-area: "nav";
  @apply bg-gray-100;
}

#content {
  grid-area: "content";
  @apply overflow-y-auto px-8 lg:p-0;
}